{% extends 'base.html' %}

{% block title %}Edifício Olimpo{% endblock title %}

{% block content %}
    <div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Condomínio Atual</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
    <li><a href="/">Início</a></li>
    </ul>
    </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
    </nav>

    <h1>Edifício Olimpo</h1>
    <hr>
    <p class="lead">Se você não é morador deste condomínio, volte à página inicial. Se é o seu e ainda
        não tem acesso, deverá solicitar ao síndico o cadastro do seu email. O Condomínio Atual é um sistema seguro que
        utiliza tecnologias de integração com o Google para visualização de documentos restritos.</p>

    <a class="btn btn-warning" href="/ocorrencias/" role="button">Registrar Ocorrências</a>
    <hr>
    <h2>Documentos Importantes</h2>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <h3><span class="glyphicon glyphicon-file"></span> Regulamentos</h3>
            <ul>
                <li><a href="https://drive.google.com/file/d/0B6EoP5kaEOYOTjA1S1NnMTlQV1U/view?usp=sharing">Constituição de condomínio</a></li>
                <li><a href="https://drive.google.com/open?id=0B6EoP5kaEOYORDNhSV9jTDlJZnc">Novo regulamento interno</a></li>
            </ul>
            <hr>
        </div>
        <div class="col-md-3">
            <h3><span class="glyphicon glyphicon-education"></span> Orientações</h3>
            <ul>
                <li><a href="https://drive.google.com/open?id=0B6EoP5kaEOYOYzBZZDlmVGFmUFU">Barulho no condomínio</a></li>
            </ul>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock content %}
