/*
 * style.css
 */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.header {
    margin-right:10%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer{
    background-color:#3f51b5;
}

.formulario {
    text-align: center;
}

.jumbotron {
    background-color: #6c5296;
    color: white;
}

.condominios {
    text-align: center;
}

.agenda {
    text-align: center;
}